In [3]:
#Check path of dataset
import os
os.getcwd()

'C:\\Users\\admin\\Desktop\\Dataset'

In [4]:
#Get dataset
import pandas as pd
import numpy as np
df = pd.read_csv("dirty_rainfall.csv",index_col=0);
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Humidity,Prevalent_wind_direction
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,High,NE
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,High,SW
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,High,W
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,NaN,High,E
4,ANDAMAN & NICOBAR ISLANDS,1905,NaN,0.0,3.3,26.9,NaN,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,High,S

In [5]:
#Check size of dataset
df.shape

(4116, 17)

In [6]:
#Get info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4116 entries, 0 to 4115
Data columns (total 17 columns):
SUBDIVISION                 4116 non-null object
YEAR                        4116 non-null int64
JAN                         3969 non-null float64
FEB                         3949 non-null float64
MAR                         3960 non-null float64
APR                         3947 non-null float64
MAY                         3960 non-null float64
JUN                         3941 non-null float64
JUL                         3925 non-null float64
AUG                         3936 non-null float64
SEP                         3950 non-null float64
OCT                         3959 non-null float64
NOV                         3947 non-null float64
DEC                         3942 non-null float64
ANNUAL                      3922 non-null float64
Humidity                    3945 non-null object
Prevalent_wind_direction    3941 non-null object
dtypes: float64(13), int64(1), object(3)
memory usage: 578.8+ KB

In [7]:
#Check number of missing values
df.isnull().sum()

SUBDIVISION                   0
YEAR                          0
JAN                         147
FEB                         167
MAR                         156
APR                         169
MAY                         156
JUN                         175
JUL                         191
AUG                         180
SEP                         166
OCT                         157
NOV                         169
DEC                         174
ANNUAL                      194
Humidity                    171
Prevalent_wind_direction    175
dtype: int64

In [8]:
#Clean the numerical values
for col in df.iloc[:,2:15]:
    m = round(df[col].mean(),1)
    df[col].fillna(m, inplace = True)
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Humidity,Prevalent_wind_direction
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,High,NE
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,High,SW
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,High,W
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,1415.9,High,E
4,ANDAMAN & NICOBAR ISLANDS,1905,19.0,0.0,3.3,26.9,85.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,High,S

In [9]:
#Clean the categorical values
df.fillna(method = 'pad',inplace = True)
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Humidity,Prevalent_wind_direction
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,High,NE
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,High,SW
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,High,W
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,1415.9,High,E
4,ANDAMAN & NICOBAR ISLANDS,1905,19.0,0.0,3.3,26.9,85.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,High,S

In [10]:
#Check number of missing values
df.isnull().sum()

SUBDIVISION                 0
YEAR                        0
JAN                         0
FEB                         0
MAR                         0
APR                         0
MAY                         0
JUN                         0
JUL                         0
AUG                         0
SEP                         0
OCT                         0
NOV                         0
DEC                         0
ANNUAL                      0
Humidity                    0
Prevalent_wind_direction    0
dtype: int64

In [12]:
#Load cleaned data into a new file
df.to_csv("clean_rainfall.csv")